#gamearea div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
}
#gamearea {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
#container {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  margin: 0px;
}

body {
  margin: 0px;
  min-height: 100vh;
}
