@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap');

#gamearea div {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  margin: 0%;
  border-radius: 20px;
  color: aliceblue;
  backdrop-filter: 15px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Space Mono', monospace;
}
#gamearea {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 15px;
  padding: 3px;
}
#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  margin: 0px;
}
body {
  margin: 0px;
  min-height: 100vh;
  background-image: url(https://i.stack.imgur.com/SvWWN.png);
  background-size: cover;
}
.rejtett {
  visibility: hidden;
}
#szamlalo {
  text-align: center;
  font-size: 50px;
  color: aliceblue;
  display: grid;
  align-items: center;
  font-family: 'Wellfleet', monospace;
}
#gombid {
  display: grid;
  justify-content: center;
}
#start {
  border-color: black;
  border-radius: 15px;
  height: 50px;
  width: 100px;
  background-color: rgb(66, 82, 95);
  color: aliceblue;
}
#score {
  color: aliceblue;
}
